<FileSave RestartPrinter="restartPrinter" OnSave="Save"></FileSave>
<div class="row">
    <RadzenTextArea Rows="10" @bind-Value="Content" class="w-100"></RadzenTextArea>
</div>

@code {

    [Parameter]
    public string? Content { get; set; }

    private string text;
    private bool restartPrinter = true;

    [Parameter]
    public Action<string?, bool> OnSave { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void Save(bool restart)
    {
        OnSave(Content, restart);
    }
}