<div class="row pb-2">
    <div class="col">
        <button class="btn btn-primary" type="button" style="width: 40px;" @onclick="Save">
            <span class="oi oi-cloud-upload" aria-hidden="true"></span>
        </button>
        <RadzenCheckBox @bind-Value="RestartPrinter" Name="CheckBox1"></RadzenCheckBox>
        <RadzenLabel Text="Restart Printer" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;"/>
    </div>
</div>

@code {
    
    [Parameter]
    public bool RestartPrinter { get; set; }
    [Parameter]
    public Action<bool> OnSave { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void Save()
    {
        OnSave(RestartPrinter);
    }
}