<RadzenHtmlEditor @bind-Value="@Content">
    <RadzenHtmlEditorCustomTool>
        <Template Context="editor">
            <button class="btn btn-primary" type="button" style="width: 40px;" @onclick="Save">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span>
            </button>
            <RadzenCheckBox @bind-Value="restartPrinter"  Name="CheckBox1"></RadzenCheckBox>
            <RadzenLabel Text="Restart Printer" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;"/>
        </Template>
    </RadzenHtmlEditorCustomTool>
    <RadzenHtmlEditorUndo/>
    <RadzenHtmlEditorRedo/>
</RadzenHtmlEditor>

@code {

    [Parameter]
    public string? Content { get; set; }

    private string text;
    private bool restartPrinter = true;

    [Parameter]
    public Action<string?, bool> OnSave { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Content = Content.Replace("\n", "<br/>");
        await base.OnInitializedAsync();
    }

    private void Save()
    {
        Content = Content.Replace("<br/>", "\n").Replace("<br>", "\n").Replace("&lt;", "<").Replace("&gt;", ">");
        OnSave(Content, restartPrinter);
    }

}