@using Klapper.Classes
<div class="row text-center">
    <h2>Delete File?</h2>
    <p class="w-lg-50">@File.filename</p>
</div>
<div class="row justify-content-between" style="padding-top: 20px;">
    <div class="col">
        <button class="btn btn-secondary ms-1" type="button" @onclick="OnCancel">Cancel</button>
    </div>
    <div class="col text-end">
        <button class="btn btn-danger" type="button" @onclick="OnDelete">Delete</button>
    </div>
</div>

@code
{
    [Parameter]
    public GCodeFileDetails File { get; set; }

    [Parameter]
    public Action OnDelete { get; set; }

    [Parameter]
    public Action OnCancel { get; set; }
}