@page "/SystemInfoPage"
@using Klapper.Data
@using Klapper.Shared.Components.Status
@inject PrinterStatusService PrinterStatus

@if (PrinterStatus.SystemInfo != null)
{
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">System Status</h2>
        </div>

        <div class="row pb-2">
            @foreach (var status in PrinterStatus.SystemInfo.available_services)
            {
                <div style="display:inline-block; padding: 20px">
                    <SystemStatus StatusName=@status></SystemStatus>
                </div>
            }
        </div>
        <div class="row pb-2">
            <h2 class="text-primary">Printer Information</h2>
        </div>
        <div class="row pb-2">
            <PrinterStatus PrinterInfo="@PrinterStatus.PrinterInfo"></PrinterStatus>
        </div>
    </div>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await PrinterStatus.ForceRefreshAll();

        await base.OnInitializedAsync();
    }
}