@page "/SystemInfoPage"
@using Klapper.Data
@using Klapper.Shared.Components.Status
@inject PrinterStatusService PrinterStatus

<PageTitle>Klapper - System Status</PageTitle>

@if (PrinterStatus.SystemInfo != null)
{
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">System Status</h2>
        </div>

        <div class="row mb-3 justify-content-between">
            @foreach (var status in PrinterStatus.SystemInfo.available_services)
            {
                <div class="col-md-2 mb-3">
                    <SystemStatus StatusName=@status></SystemStatus>
                </div>
            }
        </div>
        <div class="row pb-2">
            <h2 class="text-primary">Printer Information</h2>
        </div>
        <div class="row pb-2">
            <PrinterServicesStatus PrinterInfo="@PrinterStatus.PrinterInfo"></PrinterServicesStatus>
        </div>
    </div>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await PrinterStatus.ForceRefreshAll();

        await base.OnInitializedAsync();
    }
}