@using Klapper.Data
@using System.Timers
@inherits LayoutComponentBase
@inject PrinterStatusService StatusService

<PageTitle>Klapper</PageTitle>

<RadzenNotification/>
<RadzenDialog/>

<div class="page">
    <main>
        @if (StatusService.KlipperIsRunning)
        {
            <NavBar></NavBar>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        SetKlipperStatusTimer();

        await base.OnInitializedAsync();
    }

    private void SetKlipperStatusTimer()
    {
        var timer = new Timer(1000);
        timer.Elapsed += async (_, _) =>
        {
            await InvokeAsync(StateHasChanged);
            if (StatusService.KlipperIsRunning) timer.Stop();
            timer.Start();
        };
        timer.AutoReset = false;
        timer.Enabled = true;
    }
}