@inherits LayoutComponentBase

<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3 top-row px-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"></span><span>Klapper</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="">System Info</a></li>
                <li class="nav-item"><a class="nav-link" href="">Printable Files</a></li>
                <li class="nav-item"><a class="nav-link" href="">3D Viewer</a></li>
            </ul>
        </div>
    </div>
</nav>