@using Klapper.Data
@using Klapper.Classes
@using System.Globalization
@inject MoonrakerApiService Api;

<div class="card">
    <div class="card-body text-center">
        <h2 class="card-title text-center">Fans</h2>
        @if (fan != null)
        {
            <strong>@fanSpeed%</strong>
        }
    </div>
    <div class="card-footer text-center">
        @if (fan != null)
        {
            <RadzenSlider @bind-Value="@fanSpeed" Step="1" TValue="int" Min="0" Max="100" Style="width: 150px" Change="SetFanSpeed"/>
            <div class="d-flex flex-row flex-wrap justify-content-center pt-2">
                <RadzenNumeric @bind-Value="fanSpeed"
                               TValue="int"
                               Change="async () => await SetFanSpeed()">
                </RadzenNumeric>
            </div>
        }
    </div>
</div>

@code
{
    private Fan fan;
    private int fanSpeed
    {
        get => (int)(fan.speed * 100);
        set => fan.speed = (double)value / 100;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetFans();
        SetKlipperStatusTimer();
        await base.OnInitializedAsync();
    }

    private async Task GetFans()
    {
        var result = await Api.GetObject<MoonrakerQueryResultObject>("fan", false);
        if (result != null)
        {
            fan = result.result.status.fan;
        }
    }

    private void SetKlipperStatusTimer()
    {
        var timer = new System.Timers.Timer(6000);
        timer.Elapsed += async (_, _) =>
        {
            await GetFans();
            await InvokeAsync(StateHasChanged);
            timer.Start();
        };
        timer.AutoReset = false;
        timer.Enabled = true;
    }

    private async Task SetFanSpeed()
    {
        await Api.RunGCode($"M106 S{(fanSpeed * 2.55 + 1).ToString(CultureInfo.InvariantCulture)}");
    //fan.speed = fanSpeed * 2.55f / 255;
    }
}